# Ogre Core Resources
[OgreInternal]
FileSystem=./Media/Main
FileSystem=./Media/RTShaderLib
FileSystem=./Media/Terrain/

[General]

FileSystem=./Media/materials/programs/GLSL
FileSystem=./Media/materials/programs/GLSL120
FileSystem=./Media/materials/programs/GLSL150
FileSystem=./Media/materials/programs/GLSL400
FileSystem=./Media/materials/programs/GLSLES
FileSystem=./Media/materials/programs/SPIRV
FileSystem=./Media/materials/programs/Cg
FileSystem=./Media/materials/programs/HLSL
FileSystem=./Media/materials/programs/HLSL_Cg
FileSystem=./Media/materials/scripts
FileSystem=./Media/materials/textures
FileSystem=./Media/materials/textures/terrain
FileSystem=./Media/models

